.custom-bg-primary {
    background-color: #333 !important;
}
.custom-bg-secondary {
    background-color: #3333;
}

.nav {
    overflow: hidden;
    background-color: #333;
    gap: 2rem;

}
.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 5px;
    padding: 0;
    overflow: hidden;
}

.nav a {
    text-decoration: none;
    color: white; /* Ensure the text is visible */
}

.nav ul a.active{
    background-color: #666;
}

.nav li:hover{
    background-color: #777;
}
